<h1>SEARCH!!!!</h1>

<%= form_for @search do |f|%>
	<p>
		<%= f.label :name%><br />
		<%= f.text_field :name%>
		<%= f.submit "SEARCH!!!"%>
	</p>
	<%= @profile%>
	<hr />
	<%= @json_txt%>
<%end%>
