<h1>SEARCH!!!!</h1>
<hr />
<%= form_for @search do |f|%>
	<p>
		<%= f.label "Search"%><br />
		<%= f.text_field :name%>
		<%= f.submit "SEARCH!!!"%>
	</p>

	<hr />
<%= link_to "Search History",history_path%>
<%end%>
