<h1>SEARCH!!!!</h1>
<hr />
<%= form_for @search do |f|%>
	<p>
		<%= f.label :name%><br />
		<%= f.text_field :name%>
		<%= f.submit "SEARCH!!!"%>
	</p>
	<h2><%= @profile["firstName"]%></h2>
	<hr />
<%= link_to "Search History",history_path%>
<%end%>
